/****************************************************************************************
 * filename: main.scss 
 * author: wheedables
 * date: 
 * description: 
 * 
 * 
 ***/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

/****************************************************************************************
 * filename: _fonts.scss 
 * author: wheedables
 * date: 
 * description: 
 * 
 * 
 ***/
/****************************************************************************************
 * filename: /components/_buttons.scss 
 * author: wheedables
 * date: 
 * description: 
 * 
 * 
 ***/
button, .button {
  cursor: pointer;
  display: block;
  width: 100%; }

/****************************************************************************************
 * filename: /layout/_grid.scss 
 * author: wheedables
 * date: 
 * description: 
 * 
 * 
 ***/
body, header, main, footer {
  width: 100%; }

.container.fluid {
  width: 100%;
  padding: 0 1rem; }

.center {
  text-align: center; }

/****************************************************************************************
 * filename: /themes/_terminal.scss 
 * author: wheedables
 * date: 
 * description: 
 * 
 * 
 ***/
h1 {
  font-size: 2.2rem; }

h1, p, textarea, input, button, .button {
  font-family: 'VT323', monospace;
  color: #0F0;
  line-height: 2rem; }

body {
  background-color: #000;
  font-size: 1.5rem; }

header:before, main:before, footer:before {
  content: "*"; }
header:after, main:after, footer:after {
  content: "*"; }

button, .button {
  background-color: #000;
  border: dashed 2px #0F0;
  font-size: 2rem;
  padding: 1.2rem;
  text-decoration: none; }
  button:hover, .button:hover {
    border: dashed 2px #000;
    background-color: #0F0;
    color: #000; }

textarea {
  width: 100%;
  background-color: #000;
  border: solid 2px #0F0;
  font-size: 2rem;
  padding: 1.2rem; }
  textarea:hover {
    border: dashed 2px #0F0; }

/*# sourceMappingURL=main.css.map */
